.cabesalio{
justify-content:center ;
display: flex;
}

.imj{
justify-content: center;
display: flex;

}


.img{
width: 250px;
padding: 10px;

}

.a{
justify-content: center;
display: flex;
}

.s{
width: 250px;
padding: 10px;
}

.L{
justify-content: center;
display: flex;
}

.k{
    width: 250px;
    padding: 10px;
    
}

.lm{
    justify-content: center;
    display: flex;
}

.u{
    width: 250px;
    padding: 10px;
}