.cabesalio{
justify-content:center ;
display: flex;
}



.img{
width: 500px;
padding: 10px;
margin-left: 400px;
}



.s{
width: 500px;
padding: 10px;
margin-left: 400px;
}




.k{
    width: 500px;
    padding: 10px;
    margin-left: 400px;
}



.u{
    width: 500px;
    padding: 10px;
    margin-left: 400px;
}